body {
  background-color: #333333;
  color: white;
}

header {
  text-align: center;
}

h1 {
  font-family: monospace, Verdana;
  font-size: 30pt;
}

h2 {
  font-family: monospace, Verdana;
  font-size: 25pt;
}

h3 {
  font-family: monospace, Verdana;
  font-size: 20pt;
}

p {
    font-family: consolas;
    font-size: 12pt;
}

li {
    font-family: consolas;
    font-size: 12pt; 
    margin-bottom: 5pt;
}

.spaced {
    text-decoration: none;
    color: rgb(0, 4, 255);
    font-size: 25pt;
    font-family: verdana;
    text-shadow: 0 0 10px #000;  
}

.play-game {
    margin-top: 1.5cm;
    text-align: center;
}

